/* body */
img  {border: 0px;}
body{font-size:12px;padding:0;margin:0;background: #ffffff;text-align:left;font-family:"宋体",Arial;line-height:150%;}
html {overflow:auto !important; overflow:hidden; _overflow-y:scroll;}
form,ul,p{ margin:0; padding:0;}
.clear{ clear:both;}
a:link{color:#003399;text-decoration:none;}
a:visited{color:#800080;text-decoration:none;}
a:hover{text-decoration:underline; color:#ff6600;}
a:active {color: #ff6600;}

/* images */
.wflogo,#foot_text span,.footer_tab ul li{background:url(../Images/logo.png) no-repeat;}
.wflogo{ background-position:0 0; width:179px; height:80px; display:block;}

#userservice{ text-align:right;margin-left:295px !important; margin-left:292px; }
#userservice a{ margin:0 3px -5px 0;}
#logo_nav{ width:1000px; margin:20px auto 0 auto;}
.logo_div{ width:195px; float:left;}
.title-1{ font-size:14px; font-weight:bold;  background:#f0f6ff; border-top:1px solid #d5e6ff; padding:4px 0 5px 20px; margin-top:25px;}
.shuoming {font-size: 14px;line-height: 200%;padding: 30px 5px 150px;text-indent: 30px;}
.shuoming img {float: left;padding: 0 20px;}
.shuoming span {font-size: 14px;line-height: 200%;} 
/* header */
#top_header{ border-bottom:1px solid #bfd6fb; height:26px; line-height:26px; font-size:13px; margin:0 auto 10px auto; width:100%;}
#top_header a:visited{ color:#003399;}
#resource{ float:left; width:370px;}
#resource small{ color:#0069cc;}
#resource a{ margin:0 3px;}
#resource a:link,#resource a:visited{ color:#003399;}
#morelinklist{ border-color:#A2BFF0 #558BE3 #558BE3 #A2BFF0; border-style:solid; border-width:1px; background:#fff; list-style:none;left: 170px; right: auto; top: 26px;  z-index:1001; position:absolute; padding:10px 0;}
#morelinklist li{ float:left; width:120px; line-height:180%; padding:0 10px 0 15px;}
#morelinklist li.current{ border-right:1px dotted #ccc; width:110px;}
.mailimg{background:url(../Images/mailimg.gif) no-repeat; display:inline-block;width:25px;height:23px;background-position:0 5px;}
.mailinfor{background:url(../Images/mailtip.gif) no-repeat; display:inline-block;width:28px;height:23px; background-position:-6px 0;}
/* footer */
#footer_div{ width:100%; background:#f9f9f9; border-top:1px solid #e9e9e9; margin-top:25px; padding:15px 0; color:#666;}
.footer_tab{  margin:0 auto 20px auto;}
.footer_tab ul{ list-style:none; }
.footer_tab ul li{ background-position:0 -207px; padding-left:15px; }
.footer_tab th{ font-size:12px; font-weight:bold; color:#8d8d8d; text-align:left; padding-bottom:10px; padding-left:30px;}
.footer_tab td{  vertical-align:top;border-right:1px dotted #ddd; padding:0 35px 0 20px;}
.footer_tab td.language_td{ border-right:none; padding-right:0;}
.footer_tab td.service_td{ padding-left:0;}
#footer_div a{ color:#666;}
#foot_text{ text-align:center; line-height:200%;}
#foot_text a{ margin:0 10px;}
#foot_text span{ background-position:0 -108px; display:block; width:37px; height:50px; margin:0 auto;}
.watermark { color: #999;}
/* search */
.menu li.button2,.update_p,.update_list li,.right_list li,.link_list li,.top_btn,.searchbox2,.qk_btn,.km_btn,.menu li.button3,.menu li.button4,.nav_page span,.top,.nav1_page span,.searchbox1,.coutribute_btn,.trend_btn{background:url(../Images/index_1.png) no-repeat;}
.update_p{ background-position:-113px -60px; }
.update_list li{ background-position:-126px 2px; }
.right_list li{ background-position:-126px 2px;}
.link_list li{ float:left; background-position:-129px 3px;padding:2px 0 3px 15px;}
#top_search{ width:800px; float:right;}
#top_search span{ line-height:120%; float:right; padding-right:28px; *display:inline-block;*padding-right:0; *float:none; *padding-left:3px;}
.menu{ list-style:none; float:left; width:785px; font-size:14px; color:#003399; height:32px; margin-top:6px;}
#top_search a:visited{ color:#003399;}
.menu li {float:left;display:block; margin:0; *padding-top:1px;height:30px; text-align:center;line-height:22px; cursor:pointer;}
.menu li.button2{ background-position:0 0; width:41px; height:30px; text-align:center; color:#fff;  line-height:22px;  font-weight:bold;}
.menu li.button3{ background-position:-107px -275px; width:58px; height:30px; text-align:center; color:#fff;  line-height:22px;font-weight:bold;} 
.menu li.button4{ background-position:0 -46px; width:70px; height:30px; text-align:center; color:#fff;  line-height:22px;font-weight:bold;} 
#top_search .menu li.button2 a:link,#top_search .menu li.button2 a:hover,#top_search .menu li.button2 a:visited{ color:#fff;}
#top_search .menu li.button3 a:link,#top_search .menu li.button3 a:hover,#top_search .menu li.button3 a:visited{ color:#fff;}
#top_search .menu li.button4 a:link,#top_search .menu li.button4 a:hover,#top_search .menu li.button4 a:visited{ color:#fff;}
#top_search .menu li.tab2{width:41px; }
#top_search .menu li.tab3{ width:58px;} 
#top_search .menu li.tab4{width:70px;}
#top_search .menu li.local_li{text-align:right; width:485px;*width:485px;_width:480px; font-size:13px; }
.searchbox1{ background-position:0 -163px;width:605px; border:0; height:25px; padding:4px 5px; margin-right:2px; display:inline-block;}
.searchbox1{ *display:inline;}
.searchbox1 input{ border-width:0; border-style:none; width:600px; height:21px; line-height:21px; font-size:14px;  font-family:arial; *margin-top:1px;-webkit-appearance:none;}
.searchbox1 input:focus,.searchbox2 input:focus{ outline:none; }
.searchbox2{ background-position:0 -200px; width:548px; height:25px; border:0; padding:4px 5px;  margin-right:2px;display:inline-block;}
.searchbox2{ *display:inline;}
.searchbox2 input{border-width:0; border-style:none;width:540px; height:21px; line-height:21px; font-size:14px;  font-family:arial;*margin-top:1px;-webkit-appearance:none;}
.top_btn{ background-position:0 -275px; width:82px; height:29px;  font-size:14px; font-weight:bold; color:#fff; border:0; display:inline-block; margin-bottom:2px; }
.coutribute_btn{ background-position:-188px -275px; width:104px; height:29px;  font-size:14px; font-weight:bold; color:#fff; border:0; display:inline-block; margin-bottom:2px; }
.trend_btn{ background-position:-311px -275px; width:104px; height:29px;  font-size:14px; color:#000; border:0; display:inline-block; margin-bottom:2px; }

.qk_btn{ background-position:0 -241px; width:70px; height:29px;  font-size:14px; font-weight:bold; color:#fff; border:0; display:inline-block; margin-bottom:2px; }
.km_btn{ background-position:-83px -241px; width:70px; height:29px;  font-size:14px; color:#000; border:0; display:inline-block; margin-bottom:2px; }
.nav_page{ margin-top:15px; background: #F0F6FF;border-top: 1px solid #D5E6FF;  font-size:13px; margin-bottom:10px; padding:5px 0 5px 10px;}
.nav_page span{ background-position:-93px -120px;padding:0 0 0 18px; display:block;}
.nav_page span a:visited{ color:#003399;}
.nav1_page{ margin-top:15px; background: #F0F6FF;border-top: 1px solid #D5E6FF;  font-size:13px; margin-bottom:5px; padding:5px 0 5px 10px;}
.nav1_page span{ background-position:-93px -120px;height:10px;padding:0 0 0 18px;}
.nav1_page span a:visited{ color:#003399;}

.top{ background-position:-263px -248px; cursor:pointer;float:right; padding-left:15px; padding-right:5px; font-weight:normal;}
.top:visited{ color:#003399;}
/* pic */
.pdf_img,.claw_img,.abs_img{background:url(../Images/index_1.png) no-repeat;  width:16px; height:17px; display:inline-block;}
.pdf_img,.claw_img,.abs_img{*display:inline;}
.abs_img{ background-position:-169px -250px;}
.claw_img{ background-position:-194px -250px;}
.pdf_img{ background-position:-219px -250px;}
.LocalChronicle_logo{ display:block; background:url(../Images/LocalChronicle.png) no-repeat;  width:240px; height:25px; }
.newico{background:url(../Images/new.gif) no-repeat;position:relative;width:25px;height:13px;top:-31px;left:30px;*left:24px;}
.export_li {position:fixed;top:30px; right:3px; }
* html div.export_li {position:absolute; right:3px;} 
#export_div a{ font-size:13px;padding:2px 10px; border:1px solid #ccc; background-color:#fdffea; display:block; margin:1px;}
#export_div a:link,#export_div a:hover,#export_div a:visited{ color:#399fd6;}

body #top_search span.font_logo{ font-family:"微软雅黑","宋体",Arial; font-size:18px; color:#444; float:left;padding-right:10px; }
body #top_search span.sm_logo{font-family:Arial; font-size:14px; color:#666; padding-top:5px;float:left;_padding-top:3px;}
.logo_p{ padding:10px 0 25px 0;}
.hdtd{padding-top:10px;float:left;line-height: 150%;margin-left:0;}
.hdtd span{float:left;width:140px;vertical-align: top;}
.hdtd_p{ float:right;width:630px;}
.hdtd_p a{padding-right:10px;}
.prepublish{background:url(../Images/treelogo.gif) no-repeat;width:25px;height:25px; position:absolute;margin-left:3px;_margin-right:0;}
.pretime40{padding-left:40px;font-size:12px;color:Gray;font-weight:normal;}

