/* CSS Document */
.displaynone {
    display: none;
}

body, tr, td, table, div, span, ul, ol, li, textarea, input {
    font-family: "Microsoft Yahei",Arial, "\5B8B\4F53", "Arial Narrow",Helvetica, sans-serif,KaiXinSong,SimSun, "\6D59\5E08\5927\7532\9AA8\6587";
}

body {
    margin: 0px;
    text-align: center;
    font-size: 13px;
}

#container {
    width: 959px;
    background: #F7F4F1 url(/images/bg_left.jpg) repeat-y;
}

/*页面Header部分公共样式*/

#header {
}

    #header #topFrame {
        width: 959px;
        height: 87px;
        background-image: url(/images/bg_top.jpg);
        background-repeat: no-repeat;
    }

#topFrame #logo {
    float: left;
    width: 228px;
    height: 80px;
}

    #topFrame #logo a {
        display: block;
        width: 220px;
        height: 80px;
    }

#topFrame #banner {
    float: left;
    width: 731px;
    height: 80px;
}

#header #navFrame {
    float: left;
    width: 959px;
    height: 26px;
    background-image: url(/images/bg_preNav.jpg);
    background-repeat: no-repeat;
    font-size: 10px;
    margin-top: 0px;
    padding-left: 0px;
}

#navFrame ul {
    position: relative;
    left: 238px;
    right: 0px;
    margin-left: 0px;
    margin-top: 6px;
    float: left;
    padding-left: 0px;
    vertical-align: middle;
    text-align: center;
}

    #navFrame ul li {
        float: left;
        margin: 0px;
        list-style: none;
        border-right: 1px solid #FFFFFF;
        display: inline;
        line-height: 16px;
    }

#navFrame span {
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
}

#navFrame a {
    display: block;
    border-bottom: none;
    padding-left: 10px;
    padding-right: 12px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-size: 13px;
}

    #navFrame a:hover {
        color: #FFFFB4;
    }

/*页面MainFrame部分公共样式*/

#mainFrame {
    width: 100%;
    float: left;
    margin-top: 1px;
    background: url(/images/bg_left.jpg) repeat-y;
}

    #mainFrame #subPageLeftFrame {
        width: 228px;
        float: left; /*	height: 558px;*/
    }

    #mainFrame #subPageContentFrame {
        float: left;
        width: 731px;
        padding-top: 26px;
        background: #F7F4F1;
        background-position: -228px 0px;
    }

#subPageLeftFrame #itemList {
    width: 100%;
    margin-top: 30px;
}

#itemList ul {
    /*float: right;*/
    margin-right: 16px;
}

    #itemList ul li {
        text-align: right;
        line-height: 20px;
        list-style: none;
        padding-bottom: 5px;
    }

#subPageContentFrame #itemContent {
    font-size: 13px;
    padding: 1px 30px 3px 30px;
    width: 668px;
    line-height: 24px;
    min-height: 560px;
}

#itemContent p {
    text-align: left;
    text-indent: 2em;
}

#content {
    padding-top: 10px;
}

#itemContent a {
    color: #522F07;
    cursor: pointer;
}

/*内容中的标题样式*/

#itemContent .title {
    font-size: 14px;
    font-weight: bold;
    text-indent: 0;
}


/*页面Footer部分公共样式*/

#footer {
}

    #footer #bottomFrame {
        width: 100%;
        float: left;
        height: 70px;
        background-image: url(/images/bg_bottom.jpg);
        background-repeat: no-repeat;
        font-size: 13px;
        color: #6B645C;
        text-align: center;
    }

#bottomFrame #footerNav {
    padding-left: 220px;
    padding-top: 28px;
    text-align: center;
}

    #bottomFrame #footerNav ul {
        padding-left: 0px;
        margin-left: 0px;
        margin-top: 4px;
        text-align: center;
    }

#footerNav ul li {
    margin: 0px;
    list-style: none;
    border-right: 1px solid #6B645C;
    display: inline;
    line-height: 16px;
}

#footerNav span {
    font-weight: normal;
    vertical-align: middle;
}

#footerNav a {
    color: #6B645C;
    padding-left: 10px;
    padding-right: 12px;
    text-decoration: none;
}

    #footerNav a:hover {
        color: #522F07;
        text-decoration: underline;
    }

/*页面其他公共样式*/

.textbox_width20 {
    width: 100px;
}

/*页面链接颜色*/
a {
    color: #522F07;
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
}

.table_td td {
    height: 20px;
    border-bottom: 1px solid #fff;
    padding: 10px 0 3px 10px;
    vertical-align: top;
    text-align: left;
    width: 250px;
}

.table_td ul li {
    text-align: left;
    padding-left: 0px;
    margin-left: 0px;
}

.table_td .fontsieze {
    font-size: 19px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-style: normal;
}

/*IP段ID注册页面*/
.regtable {
    margin: 40px 20px 40px 20px;
    width: 350px;
    height: 360px;
}

    .regtable td {
        text-align: left;
    }

.phagspa {
    writing-mode: tb-rl;
    text-align: left;
    font-family: BabelStone Phags-pa Book,Microsoft PhagsPa;
}

.zhushi {
    color: #0000ff;
    font-size: 9px;
}

.btn {
    clear: both;
    width: 68px;
    height: 22px;
    color: #503800;
    font-size: 12px;
    background-repeat: repeat;
    border: #7B577B 1px solid;
    background-image: url(/images/button_off.png);
}

    .btn:hover {
        clear: both;
        width: 68px;
        height: 22px;
        color: #503800;
        cursor: pointer;
        font-size: 12px;
        background-repeat: repeat;
        border: #1F3A56 1px solid;
        background-image: url(/images/button_on.png);
    }

.btnFalse {
    clear: both;
    width: 68px;
    height: 22px;
    cursor: default;
    color: #808080;
    font-size: 12px;
    background-repeat: repeat;
    border: #808080 1px solid;
    background-image: url(/images/button_off.png);
}

.btnL_mouseout {
    background-image: url(/Images/help/loginButton.png);
}

.btnL_mouseover {
    background-image: url( /Images/help/loginButton.png );
}
